.myheader{
	padding: 10px 10px 10px 20px;
	font-size: 20px;
	background:#007BFF;
	color: white;
}

.mycontent{
	border:2px solid #f1f1f1;
	margin-bottom: 25px;
	padding: 10px 10px 10px 20px;
}

/*************FOR OVERLAY***************************/

#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer;
}

#overlay-text{
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 50px;
  color: white;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}

.btn-default {
    color: #333;
    background-color: #F4F6F9;
    border-color: #ccc;
}
.btn-default:focus {
    color: #333;
    background-color: #E9ECEF;
    border-color: #8c8c8c;
}
.btn-default:hover {
    color: #333;
    background-color: #E9ECEF;
    border-color: #adadad;
}
.btn-default:active {
    color: #333;
    background-color: #E9ECEF;
    border-color: #adadad;
}

sup{
	color: red;
}
/*.login-page{
  height: 50vh;
}*/

/* Style to change separator  */
.breadcrumb-item + .breadcrumb-item::before {
    content: ">";

}
/* .breadcrumb li   {
  font-size: 20px;
} */
